## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [20]:
ciudades = ["Paris", "Lisboa", "Miami", "Madrid", "Roma", "Tokio"]
print(ciudades)

['Paris', 'Lisboa', 'Miami', 'Madrid', 'Roma', 'Tokio']

2) Imprimir por pantalla el segundo elemento de la lista

In [21]:
print(ciudades[1])

Lisboa

3) Imprimir por pantalla del segundo al cuarto elemento

In [22]:
print(ciudades[1:4])

['Lisboa', 'Miami', 'Madrid']

4) Visualizar el tipo de dato de la lista

In [23]:
print(type(ciudades[1]))

<class 'str'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [25]:
print(ciudades[2:])

['Miami', 'Madrid', 'Roma', 'Tokio']

6) Visualizar los primeros 4 elementos de la lista

In [13]:
print(ciudades[:4])

['Paris', 'Lisboa', 'Miami', 'Madrid']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [26]:
ciudades.append("Miami")
ciudades.append("Sidney")
print(ciudades)

['Paris', 'Lisboa', 'Miami', 'Madrid', 'Roma', 'Tokio', 'Miami', 'Sidney']

8) Agregar otra ciudad, pero en la cuarta posición

In [28]:
ciudades.insert(3,"Asuncion")
print(ciudades)

['Paris', 'Lisboa', 'Miami', 'Asuncion', 'Madrid', 'Roma', 'Tokio', 'Miami', 'Sidney']

9) Concatenar otra lista a la ya creada

In [29]:
ciudades_extra = ["El Cairo", "Brasilia", "Lima"]
ciudades.extend(ciudades_extra)
print(ciudades)

['Paris', 'Lisboa', 'Miami', 'Asuncion', 'Madrid', 'Roma', 'Tokio', 'Miami', 'Sidney', 'El Cairo', 'Brasilia', 'Lima']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [30]:
ciudades.index("Miami")

2

11) ¿Qué pasa si se busca un elemento que no existe?

Si se busca un elemento que no existe,me devuelve un error.

In [31]:
ciudades.index("Toronto")

ValueError: 'Toronto' is not in list

12) Eliminar un elemento de la lista

In [32]:
print(ciudades)
ciudades.remove("Miami")
print(ciudades)

['Paris', 'Lisboa', 'Miami', 'Asuncion', 'Madrid', 'Roma', 'Tokio', 'Miami', 'Sidney', 'El Cairo', 'Brasilia', 'Lima']
['Paris', 'Lisboa', 'Asuncion', 'Madrid', 'Roma', 'Tokio', 'Miami', 'Sidney', 'El Cairo', 'Brasilia', 'Lima']

13) ¿Qué pasa si el elemento a eliminar no existe?

Si el elemento a eliminar no existe,me devuelve un error.

In [33]:
ciudades.remove("Toronto")

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [34]:
print(ciudades)
ultima_ciudad = ciudades.pop()
print(ciudades)
print(ultima_ciudad)

['Paris', 'Lisboa', 'Asuncion', 'Madrid', 'Roma', 'Tokio', 'Miami', 'Sidney', 'El Cairo', 'Brasilia', 'Lima']
['Paris', 'Lisboa', 'Asuncion', 'Madrid', 'Roma', 'Tokio', 'Miami', 'Sidney', 'El Cairo', 'Brasilia']
Lima

15) Mostrar la lista multiplicada por 4

In [35]:
print(ciudades * 4)

['Paris', 'Lisboa', 'Asuncion', 'Madrid', 'Roma', 'Tokio', 'Miami', 'Sidney', 'El Cairo', 'Brasilia', 'Paris', 'Lisboa', 'Asuncion', 'Madrid', 'Roma', 'Tokio', 'Miami', 'Sidney', 'El Cairo', 'Brasilia', 'Paris', 'Lisboa', 'Asuncion', 'Madrid', 'Roma', 'Tokio', 'Miami', 'Sidney', 'El Cairo', 'Brasilia', 'Paris', 'Lisboa', 'Asuncion', 'Madrid', 'Roma', 'Tokio', 'Miami', 'Sidney', 'El Cairo', 'Brasilia']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [37]:
numeros = 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
print(numeros)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [43]:
numeros[10:15]

(11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [44]:
print(20 in numeros)#devuelve un bool
print(30 in numeros)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [45]:
print("Paris" in ciudades)

True

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [48]:
print(numeros)
#En la tupla numeros cuento cuantas veces esta el numero 5:
print(numeros.count(5))

print(ciudades)
#En la lista ciudades cuento cuantas veces esta la ciudad Tokio
print(ciudades.index("Tokio"))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
1
['Paris', 'Lisboa', 'Asuncion', 'Madrid', 'Roma', 'Tokio', 'Miami', 'Sidney', 'El Cairo', 'Brasilia']
5

21) Convertir la tupla en una lista

In [50]:
print(type(numeros))
print(numeros)

numeros = list(numeros) #Transformo la tupla numeros en una lista
print(type(numeros))
print(numeros)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [54]:
numeros = tuple(numeros)
num1, num2, num3, *_ = numeros
print(num1,num2,num3)
#otra forma
primero, segundo, tercero = numeros[0], numeros[1], numeros[2]
print(primero,segundo,tercero)

1 2 3
1 2 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [1]:
dicciudades ={
    "ciudad" : ["Paris", "Lisboa", "Miami", "Madrid", "Roma", "Tokio"] ,
    "pais" : ["Francia", "Portugal", "EEUU", "España", "Italia", "Japon"] ,
    "continente" : ["Europa", "Europa", "America", "Europa", "Oceania"]
}

24) Imprimir las claves del diccionario

In [6]:
print(dicciudades.keys())

dict_keys(['ciudad', 'pais', 'continente'])

25) Imprimir las ciudades a través de su clave

In [7]:
print(dicciudades["ciudad"])

['Paris', 'Lisboa', 'Miami', 'Madrid', 'Roma', 'Tokio']